apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ app.backend.name }}"
  namespace: "{{ app_namespace }}"
spec:
  replicas: {{ app.backend.replicas }}
  selector:
    matchLabels:
      app: "{{ app.backend.name }}"
  template:
    metadata:
      labels:
        app: "{{ app.backend.name }}"
    spec:
      imagePullSecrets:
      - name: acr-secret
      containers:
      - name: "{{ app.backend.name }}"
        image: "{{ app.backend.image }}"
        ports:
        - containerPort: {{ app.backend.port }}
        resources:
          requests:
            cpu: "{{ app.backend.requests.cpu }}"
            memory: "{{ app.backend.requests.memory }}"
          limits:
            cpu: "{{ app.backend.limits.cpu }}"
            memory: "{{ app.backend.limits.memory }}"
        volumeMounts:
        - name: data
          mountPath: /data
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: "{{ app.backend.pv }}"
